:host {
    display: grid;
    width: 280px;
    height: 400px;

    background-color: #fff;
    border-radius: 25px;
    border: #000 solid 1px;

    grid: 4fr 1fr / 100%;
    overflow: hidden;
}

main {
    padding: 20px;
}
