@use '@angular/material' as mat;
@import 'theme-variables.scss';

section {
    width: 100%;
    position: relative;
}

#main-section {
    height: 98vh;

    .section-title {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;

        font-size: 100px;
    }

    .caurusel {
        height: 100%;
    }

}

.separator {
    height: 10px;
    width: 100%;

    background-color: mat.get-color-from-palette($primary-palette);
}

#second-section {
    padding: 20px;
    >h3 {
        font-size: 4vw;

    }

    >.carousel {
        height: 450px;
        
    }
}