header {
    $height: 50px;
    height: $height;
    width: 100%;
    padding: 0px 5px;

    display: flex;
    justify-content: space-between;


    > div:first-child {
        padding: 5px;
    }

    > div:nth-child(2) {
        $input-size: 20px;
        padding: (($height - $input-size)/2) 5px;
        position: relative;

        .input-container {
            background-color: #fff;
            padding: 0 10px;
            border-radius: 25px 0 0 25px;

            input, input:hover, input:focus, input:active {
                outline: none;
                border: none;
            }
        }

        .custom-button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;

            button {
                height: $input-size;
                width: $input-size;
            }
        }
    }
}