section {
    width: 100%;
    position: relative;
}

#main-section {
    height: 90vh;

    .section-title {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;

        font-size: 100px;
    }

    .caurusel {
        height: 100%;
    }

}