:host {
    display: inline-block;
    position: relative;
    width: 100%;
}

.img-container {
    overflow: hidden;

    height: 100%;
    width: 100%;
}

.points-container {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
}