<div class="mouse-detector"></div>
<main class="img-container">
    <ng-content select="app-relative-carousel-item"></ng-content>
</main>

<div class="btn-container" 
    (mouseenter)="mouseIn = 'in'"
    (mouseleave)="mouseIn = 'out'"
    *ngLet="(buttonDisabled$ | async) as buttonDisabled"
    >
    <button mat-icon-button (click)="previous()" [@buttonShow]="mouseIn" [disabled]="buttonDisabled">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-icon-button (click)="next()" [@buttonShow]="mouseIn" [disabled]="buttonDisabled">
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>

<ng-template #chip>
    <div class="point"></div>
</ng-template>
<app-chips-controller class="points-container" [chipTemplate]="chip" [chip]="position" (chipChange)="moveTo($event)" [numberOfChips]="items.length"></app-chips-controller>
