:host {
    display: flex;
    width: 200px;
}

.star {
    margin: 4px;

    .content {
        padding: 8px;
        height: 100%;

        &.active {
            background-color: #ffef09;
    
            &.full {
                width: 100%;
            }
            &.half {
                width: 50%;
            }
        }
    }   
}