<div class="votes-container">
    <button mat-icon-button (click)="rate(true)" [color]="vote === true ? 'primary' : ''">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <span>{{ votes$ | async }}</span>
    <button mat-icon-button (click)="rate(false)" [color]="vote === false ? 'primary' : ''">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</div>
<div class="content" *ngIf="question">
    <p>Q:</p>
    <p><b>{{ question.content }}</b><span class="author"> by {{ question.user }} on {{ question.date | date }}</span></p>
    <p>A:</p>
    <div class="answers-container" *ngIf="question.answers.length !== 0; else noAnswers">
        <app-answer *ngFor="let answer of question.answers | slice: 0:answersSeen" [answer]="answer"></app-answer>
        <ng-container *ngIf="overflowed">          
            <div class="text-clickable" (click)="seeMoreAnswers()" *ngIf="answersSeen < question.answers.length; else collapse">See more -></div>
        </ng-container>
        <ng-template #collapse>
            <div class="text-clickable" (click)="collapseAnswers()">Collapse All</div>
        </ng-template>
    </div>
</div>

<ng-template #noAnswers>
    <p>No answers</p>
</ng-template>