<div class="votes-container">
    <button mat-icon-button (click)="rate(true)" [color]="vote === true ? 'primary' : ''">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <span>{{ votes$ | async }}</span>
    <button mat-icon-button (click)="rate(false)" [color]="vote === false ? 'primary' : ''">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</div>
<div class="content" *ngIf="question">
    <p>Q:</p>
    <b>{{ question.content }}</b>
    <p>A:</p>
    <div class="" *ngIf="question.answers.length !== 0; else noAnswers">
        <div class="" *ngFor="let answer of question.answers">
            <p>{{ answer.content }}</p>
            <p>by {{ answer.user }}</p>
        </div>
    </div>
</div>

<ng-template #noAnswers>
    <p>No answers</p>
</ng-template>