:host {
    display: inline-block;
    padding: 1rem 0;
}

.star {
    margin: 4px;

    .content {
        padding: 8px;
        height: 100%;

        &.active {
            background-color: #ffef09;
    
            &.full {
                width: 100%;
            }
            &.half {
                width: 50%;
            }
        }
    }   
}

.stars {
    position: relative;
    white-space: nowrap;
    display: inline-block;

    margin-right: 10px;

    svg {
        width: 20px;
        fill: gold;
    }
}
  
.cover {
    background: white;
    height: 100%;
    overflow: hidden;
    width: 100%;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;

    padding: inherit;
}