:host {
    width: 100%;
}

header {
    position: fixed;
    top: 0; 
    z-index: 1000;

    $height: 50px;
    height: $height;
    width: 100%;
    padding: 0px 5px;

    display: flex;
    justify-content: space-between;

    transition: background-color .2s;
    &:hover {
        background-color: #fff;
    }


    > div:first-child {
        padding: 5px;
    }

    > div:nth-child(2) {
        $input-size: 20px;
        margin: (($height - $input-size)/2) 0;
        padding: 0 ($input-size/2);
        position: relative;

        
    }
}