@use 'sass:math' as math;

:host {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-rows: 1fr 100px;
}

header {

    position: fixed;
    top: 0; 
    z-index: 1000;

    $height: 50px;
    width: 100%;
    padding: 0px 5px;

    display: flex;
    justify-content: space-between;

    transition: background-color .2s;

    .title {
        padding: 5px;
        display: flex;
        align-items: center;

        a {
            color: none;
            text-decoration: none;
        }

        h1 {
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            color: #000;

            // TODO: ADD A BETTER ANIMATION
            transition: font-size .2s;
            &:hover {
                font-size: 34px;
            }
        }
    }

    > div:nth-child(2) {
        $input-size: 20px;
        margin: math.div($height - $input-size, 2) 0;
        padding: 0 math.div($input-size, 2);
        position: relative;

        
    }
}

main {
    transition: background-color .2s ease-in-out;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    span, a  {
        color: #fff;
        font-weight: 500;
    }

    a {
        font-weight: 600;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }   
    }
}