<header>
    <div class="title">
        <a routerLink="/">
            <h1>E-Shop</h1>
        </a>
    </div>
    <div class="menu-buttons">
        <app-product-input [opened]="false" (valueChange)="redirectToSearch($event)"></app-product-input>
        <div class="dark-mode-toggle">
            <mat-icon> {{ (darkThemed$ | async) ? 'dark_mode' : 'light_mode' }} </mat-icon>
            <mat-slide-toggle color="accent" (change)="darkTheme.setDarkTheme($event.checked)" [checked]="initTheme$ | async"></mat-slide-toggle>
        </div>
    </div>
</header>
<main>
    <router-outlet></router-outlet>    
</main>
<footer>
    <span>Created by Jeshua Hinostroza -</span>&nbsp;<a href="https://github.com/JekTheCoder">GitHub</a>
</footer>