.separator {
    padding: 40px;
}

.container {
    margin: auto;
    min-width: 400px;
    max-width: 1200px;
}

.grid {
    display: grid;
    grid-template-columns: 400px 5fr 3fr;

    gap: 10px;

    img {
        max-width: 100%;
    }
}