<form [formGroup]="form">
    <mat-form-field>
        <mat-select [multiple]="true" formControlName="categories">
            <mat-option *ngFor="let category of categories$ | async" [value]="category">{{ category | titlecase }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div formArrayName="priceRange">
        <mat-form-field>
            <mat-label>Min Price: </mat-label>
            <input matInput formControlName="0" type="number" min="0" step="100">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Max Price</mat-label>
            <input matInput formControlName="1" type="number" min="0" step="100">
        </mat-form-field>
    </div>
</form>