@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme, $app-theme) {
    $color-config: mat.get-color-config($theme);
    $is-dark-theme:   map.get($color-config, 'is-dark');
    $background-palette: map.get($app-theme, 'background');

    $color: unset;
    $background-color: mat.get-color-from-palette($background-palette, 50);

    @if $is-dark-theme {
        $color: #fff;
        $background-color: mat.get-color-from-palette($background-palette, 700);
    }

    app-product-label {
        background-color: $background-color;
        color: $color;
    }   

}